{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Leaderboard</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<style>
    body {
        background-color: #185641;
    }
    h1{
        font-family: Verona;
        font-size: 50px;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="mx-auto p-3">
        <div class="title mb-4">
            <h1 class="text-center text-sand mt-3 mb-2">Leaderboard</h1>
            <h5 class="text-center text-sand mb-3">Here is our top gainers</h5>
        </div>
        <div class="title mt-3">
            <div class="row" id="content-data"></div>
        </div>
    </div>
</div>


{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

$(document).ready(function(){
    refreshContent();
});

async function getData(){
    return fetch("{% url 'leaderboard:show_json' %}").then((res) => res.json())
}

async function refreshContent(){
    document.getElementById("content-data").innerHTML = ""
    const data_leaderboard = await getData()
    let htmlString = ``
    data_leaderboard.forEach(element => {
        htmlString += ` <div class="row justify-content-around mb-3">
            <div class="card mx-auto border-0 shadow p-3" style="width: 24rem; height: 6rem;">
                <div class="card-body">
                    <table class="table table-borderless">
                        <tr class="row">
                            <td class="col-9">
                                <b>${element.username}</b>
                            </td>
                            <td class="col-3">
                                <p>${element.poin} points</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>`
    });
    document.getElementById("content-data").innerHTML = htmlString

}

</script>

{% endblock scripts %}

{% endblock content %}