{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil User</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    window.getUrl = "{% url 'fitur_autentikasi:get_user_data' username=user.username %}"
    window.postUrl = "{% url 'fitur_autentikasi:update_user_data' username=user.username %}"
    window.firstName = "{{ user.first_name|default:"-" }}"
    window.lastName = "{{ user.last_name|default:"-" }}"
</script>
<script src="{% static 'fitur_autentikasi/update_profile.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class = "update">
    <h1>Profile User</h1> 
    <form action="POST" id="update-profile">
        {% csrf_token %}
        <div class="user-profile">
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
    
            {{ user_update_form.first_name.label }}
            dan
            {{ user_update_form.last_name.label }}
            <div class="input-group w-75">
                {{ user_update_form.first_name }}
                {{ user_update_form.last_name }}
                <button class="btn btn-outline-secondary " type="button" id="change-name">Change</button>
            </div>
        </div>
    
        <div class="update-profile">
                <div class="telephone">
                    {{ profile_form.telephone.label }}
    
                    <div class="input-group w-75">
                        {{ profile_form.telephone }}
                        <button class="btn btn-outline-secondary " type="button" id="change-telephone">Change</button>
                        <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
                        {{ profile_form.telephone.errors }}
                    </div>
                </div>
          
                <div class="whatsapp">
                    {{ profile_form.whatsapp.label }}
                    <div class="input-group w-75">
                        {{ profile_form.whatsapp }}
                        <button class="btn btn-outline-secondary" type="button" id="change-whatsapp">Change</button>
                        <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
                        {{ profile_form.whatsapp.errors }}
                    </div>
                </div>
    
                <div class="line">
                    {{ profile_form.line.label }}
                    <div class="input-group w-75">
                        {{ profile_form.line }}
                        <button class="btn btn-outline-secondary" type="button" id="change-line">Change</button>
                        <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
                        {{ profile_form.line.errors }}
                    </div>
                </div>
        </div>
    </form>
</div> 

{% endblock content %}