{% load static %}

<div class="container faq py-5">
    <h1 class="text-center d-flex justify-content-center py-5" style="font-family: Verona">
        FAQ
    </h1>

    <div id="accordion">
        <div class="accordion accordion-flush" id="accordionFAQ">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Apa itu website dan/atau aplikasi SayangDibuang?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">
                        SayangDibuang merupakan website atau aplikasi yang memberikan kesempatan bagi mereka yang membutuhkan maupun yang ingin
                        berbagi untuk menuangkan rasa keinginan mereka. Dengan begitu, masing-masing individu akan merasa terbantu dan membantu atas
                        kehadiran website atau aplikasi kami. 
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFAQ">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Apa tujuan SayangDibuang?
                </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">
                        Tujuan SayangDibuang adalah untuk memberikan bantuan terhadap kehidupan bumi. Dengan adanya pengurangan sampah, maka kehidupan akan
                        sehat dan nyaman serta mengurangi peningkatan gas metana dan karbon dioksida. SayangDibuang juga ingin membantu mereka yang membutuhkan 
                        barang secara gratis dari pemilik barang, dan mengadakan kampanye untuk orang-orang yang lebih membutuhkan
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFAQ">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Bagaimana cara membuat request barang?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Tekan tombol Menu di ujung kanan atas pada navigasi bar, tekan kembali pilihan <i>request</i> lalu create sebuah <i>request</i> Anda sesuai
                        dengan barang yang dibutuhkan. Setelah Anda sudah mengisi semua <i>form</i>, tekan add atau submit dan <i>request</i> Anda akan muncul pada 
                        beranda <i>request</i> barang
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFAQ">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                     tujuan SayangDibuang?
                </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">
                        dfdv
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>        
