<!-- Button trigger modal -->
 
<div class="modal fade" id="modalTeam" tabindex="-1" aria-labelledby="modalTeamLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-sand">
            <div class="modal-header" style="font-family: Verona;">
                <h3 class="modal-title" id="modalTeamLabel">Our Team</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/static/asset/information/review-img.jpg" class="modal-content">
            </div>
        </div>
    </div>
  </div>