{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock meta %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div id="image-container" class="text-center p-4 position-relative"> 
                                <img class="img-fluid" id="main-image" src='{{cloudinary_url}}{{ barang.foto }}' /> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="product p-4">       
                           
                                <a href={% url 'barang_bekas:show_barang' %} class="py-3 pr-5 text-dark text-decoration-none" style="cursor: pointer;"> 
                                    <i class="fa fa-long-arrow-left"></i><span class="mx-2">Back</span> 
                                </a>

                            <div class="mt-4 mb-2"> 
                                <small class="text-uppercase text-muted brand">{{barang.uploaded_at}}</small>
                                <h5 class="text-uppercase pt-2">{{ barang.judul }}</h5>
                                <div class="price d-flex flex-row align-items-left">
                                    <p class="badge bg-secondary">{{ barang.kategori }}</p> 
                                </div>
                                <p class="">
                                    <i class="fa fa-map-marker px-1" style="color:red"></i>{{barang.lokasi}}
                                </p>

                            </div>
                            <p class="about px-3">{{ barang.deskripsi }}</p>
                            <div class="cart my-4 align-items-center d-flex justify-content-between"> 
                                <button class="btn btn-dark text-uppercase mr-2 px-4">Contact Person</button> 
                                <div>
                                    <i class="fa fa-heart text-muted px-2"></i> 
                                    <i class="fa fa-share-alt text-muted"></i> 
                                </div>
                            </div>
                            {% if user == barang.user %}
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <a href="edit/" class="py-3 pl-5 cursor-pointer text-dark text-decoration-none d-flex align-items-center">
                                    <i class="fa fa-pencil-square-o" style="font-size:20px"></i><span class="mx-1">Edit</span>
                                </a>
                                <a href="delete/" class="py-3 pl-5 cursor-pointer text-dark text-decoration-none d-flex align-items-center">
                                    <i class="fa fa-trash" style="font-size:20px; color:red;"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        setGreyscale();
    })
    function setGreyscale(){
        let style = '{{barang.available}}' == 'True'? "grayscale(100%)": "none"
        $('#main-image').css("filter",  style);

        if ('{{barang.available}}' == 'True'){
            let text = `<h1 class="text-danger text-center bg-white rounded opacity-75 p-2 position-absolute z-10" style="top:45%; left:28%;  opacity:80;">Unavailable</h1>`
            $('#image-container').append(text)
        }
    }

</script>

{% endblock content %}