{% extends 'base.html' %}
{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock meta %}

{% block content %}
<div class="m-5 ">
    <div id="container-cards" class="d-flex flex-wrap "></div>
    <button class="btn btn-dark m-4" onclick="location.href = '/barang/upload/'">Upload Barang</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        getBarangBekas();
    })

    function getBarangBekas(){
        let temp= "";
        $.ajax({
          url: "{% url 'barang_bekas:get_all_barang_json' %}",
          type: "GET",
          dataType: "json",
          success: function(data){
            console.log('{{ username }}')
            for (let barang of data){
              let is_available_style = barang.fields.available ? "shadow-slate-500/50 bg-gradient-to-br from-slate-700 to-slate-900 opacity-70 ": "shadow-pink-500/50 hover:scale-105 bg-gradient-to-br from-purple-500 to-pink-500";
              let is_finished_text = barang.fields.available ? "":"Unavailable";
              temp += `<div class="card m-3" style="width: 250px; cursor: pointer;"  onclick="location.href = '/barang/${barang.pk}'">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>

                    <img src="{{ cloudinary_url }}${barang.fields.foto}" class="img-fluid rounded thumbnail-image" style="object-fit: cover; object-position:center; width: 100%; max-height:250px; ">

                </div>
                <div class="product-detail-container p-2">
                    <h5 class="product-name text-center">${barang.fields.judul}</h5>
                    <p class="product-description text-center text-truncate">${barang.fields.deskripsi}</p>
                    <div class="d-flex flex-row justify-content-center">
                        <p class=""><i class="fa fa-map-marker px-1" style="color:red"></i>${barang.fields.lokasi}</p>
                        <p class="badge bg-secondary mx-2">${barang.fields.kategori}</p>
                        <a class="px-2" style="cursor: pointer"><i class="fa fa-solid fa-comments" style="font-size:20px"></i></a>
                    </div>
                </div>
            </div>`
                    
  
            }
            $('#container-cards').html(temp);
          } ,
          error: function(data){
              console.log('Error Detected');
          }
      })}

</script>

{% endblock content %}
