{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock meta %}

{% block content %}

<div class="p-5 bg-sand" style="min-height:100vh; width:100%;">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-10 ">
            <div class="card ">
                <div class="row ">
                    <div class="col-md-6 bg-sand">
                        <div class="images p-3">
                            <div id="image-container" class="text-center p-4 d-flex flex-column-reverse"> 
                                <img class="img-fluid"  id="main-image" src='{{cloudinary_url}}{{ barang.foto }}' /> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center bg-sand">
                        <div class="product p-5 container-fluid">       
                           
                                <a href={% url 'barang_bekas:show_barang' %} class="py-3 pr-5 text-dark text-decoration-none" style="cursor: pointer;"> 
                                    <i class="fa fa-long-arrow-left"></i><span class="mx-2">Back</span> 
                                </a>

                            <div class="mt-4 mb-2"> 
                              
                                <small class="text-uppercase text-muted brand">{{barang.uploaded_at}}</small>
                                <h5 class="text-uppercase pt-2">{{ barang.judul }}</h5>
                                <p class="about px-3">{{ barang.deskripsi }}</p>
                                <div class="price d-flex flex-row align-items-left">
                                    <p class="badge bg-gold" style="font-size:14px">{{ barang.kategori }}</p> 
                                </div>
                                <p class="">
                                    <i class="fa fa-map-marker px-1" style="color:red"></i>{{barang.lokasi}}
                                </p>

                            </div>
                    
                            {% if user.username != '' %}
                            <div class="cart my-4 align-items-center d-flex justify-content-between"> 
                                <div class="d-flex flex-column">
                                    <h6 class="text-black"><i class="fa fas fa-user-circle" style="font-size:24px;"></i><span class="px-2">{{barang.user.username}}</span></h6>
                                    <ul class="list-group"> 
                                        <li class="list-group-item bg-dark-green text-white opacity-75">Telephone: {{ barang.profile.telephone }}</li>
                                        {% if barang.profile.whatsapp %}
                                            <li class="list-group-item bg-dark-green text-white opacity-75">Whatsapp: {{ barang.profile.whatsapp }}</li>
                                        {% endif %}
                                        {% if barang.profile.line  %}
                                            <li class="list-group-item bg-dark-green text-white opacity-75">Line: {{ barang.profile.line }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            {% else %}
                            <div class="cart my-4 align-items-center d-flex justify-content-between"> 
                                <div class="d-flex flex-column">
                                    <h6 class="text-black opacity-50"><i class="fa fas fa-user-circle" style="font-size:24px;"></i><span class="px-2">Login to see owner's information</span></h6>
                                    <ul class="list-group opacity-50"> 
                                        <li class="list-group-item bg-dark-green text-white opacity-75">Telephone: 08XXXXXXXX</li>
                                        {% if barang.profile.whatsapp %}
                                            <li class="list-group-item bg-dark-green text-white opacity-75">Whatsapp: 08XXXXXXXX</li>
                                        {% endif %}
                                        {% if barang.profile.line  %}
                                            <li class="list-group-item bg-dark-green text-white opacity-75">Line: XXXX</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            {% if user == barang.user %}
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <a href="edit/" class="py-3 pl-5 cursor-pointer text-dark text-decoration-none d-flex align-items-center">
                                    <i class="fa fa-pencil-square-o" style="font-size:20px"></i><span class="mx-1">Edit</span>
                                </a>
                                <a href="delete/" class="py-3 pl-5 cursor-pointer text-dark text-decoration-none d-flex align-items-center">
                                    <i class="fa fa-trash" style="font-size:20px; color:red;"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        setGreyscale();
    })
    function setGreyscale(){
        let style = '{{barang.available}}' == 'True'? "grayscale(100%)" : "none"
        $('#main-image').css("filter",  style);

        if ('{{barang.available}}' == 'True'){
            let text = `<h3 class="text-unavailable text-danger text-center rounded border border-danger p-2 z-10" >Unavailable</h3>`
            $('#image-container').append(text) // ini blm responsive
        }
    }

</script>

{% endblock content %}