{% extends 'base.html' %}
{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock meta %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    })

    function showModalKategori(){
        $('#modalKategori').modal('show');
    }

    function addKategori(){
        var jenis = $("#jenis").val()
        if (jenis!=''){
            $.ajax({
                url: "/barang/add/kategori/",
                type: "POST",
                data: {
                    "jenis": jenis,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                dataType: "json",
                success: function () {
                    $("#modalKategori").modal('hide')
                    $("#id_kategori").append('<option value="'+jenis+'">'+ jenis +'</option>')
                },
                error: function(data){
                    console.log(data);
                    alert("error")
                }

            })
        }else{
            alert("Fill in the field")
        }
    }
    
    function showModalLokasi(){
        $('#modalLokasi').modal('show');
    }

    function addLokasi(){
        var nama = $("#nama").val()
        if (nama!=''){
            $.ajax({
                url: "/barang/add/lokasi/",
                type: "POST",
                data: {
                    "nama": nama,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                dataType: "json",
                success: function () {
                    $("#modalLokasi").modal('hide')
                    $("#id_lokasi").append('<option value="'+nama+'">'+ nama +'</option>')
                },
                error: function(data){
                    console.log(data);
                    alert("error")
                }

            })
        }else{
            alert("Fill in the field")
        }
    }
    
</script>

<div class="container-fluid flex-column d-flex justify-content-center p-md-5 align-items-center">
    <h4 class="py-4 text-dark-green">Upload Barang Bekasmu!</h4>
    <form method="POST" enctype="multipart/form-data" class="container-fluid bg-sand rounded border px-3 py-4 p-md-5" style=" max-width:800px;"> 
        <a href={% url 'barang_bekas:show_barang' %} class=" py-3 pr-5 text-dark text-decoration-none" style="cursor: pointer;"> 
            <i class="fa fa-long-arrow-left"></i><span class="mx-2">Back</span> 
        </a>
        {% csrf_token %}
        <div class="mt-5 d-flex flex-md-row justify-content-md-between flex-column">
            <div class="d-flex flex-column px-3">
                <div class="d-flex flex-column">
                    <p >Nama Barang: </p>
                    <p id="judul" class="">{{ form.judul }}</p>
                </div>
                <div class="d-flex flex-column">
                    <p>Deskripsi: </p>
                    <p id="deskripsi" class="">{{ form.deskripsi }}</p>
                </div>
            </div> 
            <div class="d-flex flex-column px-3">   
                <div class="d-flex flex-column">
                    <p>Foto: </p>
                    <p id="deskripsi" class="">{{ form.foto }}</p>
                </div>
                <div class="d-flex flex-row align-items-end">
                    <div class="d-flex flex-column">
                        <p>Lokasi: </p>
                        <p id="lokasi" class="">{{ form.lokasi }}</p>
                    </div>
                    {% comment %} buat modal untuk tambah lokasi {% endcomment %}
                    <button type="button" id="kategoriButton" onclick="showModalLokasi()" data-toggle="tooltip" data-placement="top" title="Tambah lokasi baru" class="btn btn-sm btn-secondary mb-3 mx-3" style="width:26px; height:26px; font-size:11px">
                        +
                    </button>
                </div>
                <div class="d-flex flex-row align-items-end">
                    <div class="d-flex flex-column">
                        <p>Kategori: </p>
                        <p id="kategori" class="">{{ form.kategori }}</p>
                    </div>
                    {% comment %} buat modal untuk tambah kategori {% endcomment %}
                    <button type="button" id="kategoriButton" onclick="showModalKategori()" data-toggle="tooltip" data-placement="top" title="Tambah kategori baru" class="btn btn-sm btn-secondary mb-3 mx-3" style="width:26px; height:26px; font-size:11px">
                        +
                    </button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark-green mw-25 mx-auto pull-right mt-2" style="width:120px;">Upload</button>
    </form>

    {% comment %} kategori form {% endcomment %}
     <!-- overlay -->
     <div id="modal_overlay" class="hidden absolute inset-0 bg-blur-lg bg-slate-700/50 h-full w-screen flex justify-center items-center pt-10 md:pt-0">
    <div id="modalKategori" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header
                            ">
                    <button type="button" class="close btn-sand" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Kategori</h4>
                </div>
                
                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="statusMsg"></p>
                    <form role="form" id="taskForm" action="/add/kategori/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputTitle">Kategori</label>
                            <input type="text" class="form-control w-100" id="jenis" name='jenis' placeholder="Nama kategori" required/>
                        </div>
                    </form>
                </div>
                
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sand h-25" data-bs-dismiss="modal">Close</button>
                    <button type="submit" onclick = "addKategori()" class="btn btn-dark-green submitBtn h-25" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalLokasi" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header
                            ">
                    <button type="button" class="btn btn-sand close" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Lokasi</h4>
                </div>
                
                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="statusMsg"></p>
                    <form role="form" id="taskForm" action="/add/lokasi/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputTitle">Lokasi</label>
                            <input type="text" class="form-control w-100" id="nama" name='nama' placeholder="Nama Lokasi" required/>
                        </div>
                    </form>
                </div>
                
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sand h-25" data-bs-dismiss="modal">Close</button>
                    <button type="submit" onclick = "addLokasi()" class="btn btn-dark-green submitBtn h-25" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}