{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'crowdfunding/home.js' %}"></script>

<section class="container d-grid gap-4 w-50">
  {% comment %} Header {% endcomment %}
  <h1 class="text-center mt-4">Crowdfunding</h1>

  {% comment %} Nav tabs {% endcomment %}
  <ul class="nav nav-pills">
    <button id="all-crowdfunds-btn" class="nav-link active" aria-current="page">
      All Crowdfunds
    </button>
    <button id="my-campaign-btn" class="nav-link" href="#">My Campaign</button>
  </ul>

  {% comment %} Cards {% endcomment %}
  <div id="crowdfunds">
    <div class="card">
      {% comment %} Card header {% endcomment %}
      <div class="card-header d-flex align-items-center gap-2">
        <img
          class="rounded-circle"
          style="width: 50px"
          src="https://i.pinimg.com/736x/79/73/80/79738057a5163a13dd0005d5f6d0e2b5.jpg"
          alt=""
        />
        <div>
          <strong>Yelena Belova</strong>
          <p>Posted on October 17, 2022</p>
        </div>
      </div>
      {% comment %} Card body {% endcomment %}
      <div class="card-body">
        {% comment %} Card texts {% endcomment %}
        <h5 class="card-title">Need 20 egg cartons for my Science project!</h5>
        <p class="card-text">
          I need 20 egg cartons to successfully build my Science project. If you
          do have some spare cartons, please contact me. Thank you, good people
          :)
        </p>
        {% comment %} Progress bar {% endcomment %}
        <div class="progress mb-3">
          <div
            class="progress-bar bg-success progress-bar-striped progress-bar-animated"
            role="progressbar"
            style="width: 90%"
          >
            18 of 20 items obtained
          </div>
        </div>

        {% comment %} Modal {% endcomment %} {% comment %} Button to trigger
        modal {% endcomment %}
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#contactModal"
          >
            Help Yelena
          </button>
          {% comment %} The modal itself {% endcomment %}
          <div
            class="modal fade"
            id="contactModal"
            tabindex="-1"
            aria-labelledby="contactModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              {% comment %} Modal content {% endcomment %}
              <div class="modal-content">
                {% comment %} Modal header {% endcomment %}
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Yelena Belova
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                {% comment %} Modal body {% endcomment %}
                <div class="modal-body">08123456789</div>
                {% comment %} Modal footer {% endcomment %}
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">
                    Contact Yelena
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
