{% extends 'base.html' %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock meta %}

{% block content %}
<script src="{% static 'crowdfunding/home.js' %}"></script>
<style>
  section[id^='crowdfund']:hover {
    cursor: pointer;
  }
</style>

<section class="container d-grid gap-4 w-50">
  {% comment %} Header {% endcomment %}
  <h1 class="text-brown text-center mt-4">{{user.profile.get_fullname}}</h1>

  {% comment %} Nav tabs {% endcomment %}
  <ul class="nav nav-pills">
    <button id="all-crowdfunds-btn" class="nav-link active" aria-current="page">
      All Crowdfunds
    </button>
    <button id="my-campaign-btn" class="nav-link active" onclick="
      removeCrowdfunds();
      getUserCrowdfunds({{user.pk}});
    ">My Campaign</button>
  </ul>

  {% comment %} Cards {% endcomment %}
  <div id="crowdfunds">
    
  </div>
</section>

{% endblock content %}
