{% extends 'base.html' %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock meta %}

{% block content %}
{% csrf_token %}
<script>
  {% comment %} Get CSRF Token {% endcomment %}
  window.csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script src="{% static 'crowdfunding/home.js' %}"></script>

<section id="crowdfunds-container" class="container d-grid gap-4 w-50">
  {% comment %} Header {% endcomment %}

  {% comment %} Nav tabs {% endcomment %}
  <ul class="nav nav-pills gap-2">
    <button id="all-crowdfunds-btn" class="nav-link bg-brown text-white" aria-current="page">
      Semua Crowdfund
    </button>
    <button id="my-campaign-btn" class="nav-link text-brown" onclick="
      removeCrowdfunds();
      getUserCrowdfunds({{user.pk}});
    ">Kampanyeku</button>
  </ul>

  {% comment %} Cards {% endcomment %}
  <div id="crowdfunds">
  </div>
</section>

{% endblock content %}